flow.json
[{"id":"a1fe2bca858cab9e","type":"tab","label":"Main IoT Dashboard","disabled":false,"info":""},{"id":"d1475ba3f41f8741","type":"ui_switch","z":"a1fe2bca858cab9e","name":"LED","label":"LED","tooltip":"","group":"be0f17d17de20d3d","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room/led","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":270,"y":300,"wires":[["39b89a2369ce601b"]]},{"id":"79ddbeedcf9c7a23","type":"ui_chart","z":"a1fe2bca858cab9e","name":"Temperature","group":"be0f17d17de20d3d","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"30","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":360,"wires":[[]]},{"id":"eead4fbc42c651f2","type":"ui_gauge","z":"a1fe2bca858cab9e","name":"Humidity","group":"be0f17d17de20d3d","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Celcius","format":"{{value}}","min":"30","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":500,"y":420,"wires":[]},{"id":"39b89a2369ce601b","type":"mqtt out","z":"a1fe2bca858cab9e","name":"LED","topic":"room/led","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5195956d.4d19ac","x":490,"y":300,"wires":[]},{"id":"90e23adfda4baa9b","type":"mqtt in","z":"a1fe2bca858cab9e","name":"Temperature","topic":"room/temperature","qos":"2","datatype":"auto","broker":"5195956d.4d19ac","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":360,"wires":[["79ddbeedcf9c7a23"]]},{"id":"a6a59f3548f62a33","type":"mqtt in","z":"a1fe2bca858cab9e","name":"Humidity","topic":"room/humidity","qos":"2","datatype":"auto","broker":"5195956d.4d19ac","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":420,"wires":[["eead4fbc42c651f2"]]},{"id":"2d011cfdf36ffc41","type":"ui_numeric","z":"a1fe2bca858cab9e","name":"Temperature Threshold","label":"Temperature Threshold","tooltip":"","group":"239836f6916ee5bb","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"payload","topicType":"msg","format":"{{value}}","min":"10","max":"30","step":1,"className":"","x":930,"y":1460,"wires":[["86af06e708cd3924"]]},{"id":"86af06e708cd3924","type":"mqtt out","z":"a1fe2bca858cab9e","name":"TThreshold","topic":"room/threshold","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a05617aaa96d6fda","x":1170,"y":1460,"wires":[]},{"id":"604fcba5b27d2055","type":"e-mail","z":"a1fe2bca858cab9e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"UnixLabTeam@gmail.com","dname":"","x":560,"y":540,"wires":[]},{"id":"760b33778fdf49bb","type":"e-mail in","z":"a1fe2bca858cab9e","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"autotls":"never","port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"15","fetch":"auto","inputs":0,"x":310,"y":600,"wires":[["c4fba86f1c2295f9","aff8f5553b66a2ec","e3ed3b9b804bc8c5"]]},{"id":"c4fba86f1c2295f9","type":"mqtt out","z":"a1fe2bca858cab9e","name":"","topic":"room/email","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a05617aaa96d6fda","x":510,"y":600,"wires":[]},{"id":"e3ed3b9b804bc8c5","type":"function","z":"a1fe2bca858cab9e","name":"","func":"if ((msg.payload).includes(\"Yes\") || (msg.payload).includes(\"yes\")){\n    return msg;\n} else if ((msg.payload).includes(\"no\")) {\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":720,"wires":[["94f1dbe50dcfd148"]]},{"id":"94f1dbe50dcfd148","type":"exec","z":"a1fe2bca858cab9e","command":"/usr/bin/python3 /home/pi/Desktop/dcmotor.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":800,"y":720,"wires":[[],["9c91ea97c55dc42d"],[]]},{"id":"dcb7a20bd8a8bf4a","type":"ui_form","z":"a1fe2bca858cab9e","name":"","label":"Create an account","group":"04827c5637c2f5b3","order":0,"width":0,"height":0,"options":[{"label":"Tag","value":"Tag","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temp","type":"number","required":true,"rows":null},{"label":"Light","value":"Light","type":"number","required":true,"rows":null}],"formValue":{"Tag":"","Temp":"","Light":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Form","topicType":"str","splitLayout":false,"className":"","x":130,"y":1340,"wires":[["6f94ab10bd56c9f0"]]},{"id":"46d8e36b884d050c","type":"mqtt in","z":"a1fe2bca858cab9e","name":"RFID tag","topic":"RFID","qos":"2","datatype":"auto","broker":"542b6e11527be618","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":1380,"wires":[["1f164ce86440e5e9"]]},{"id":"6f94ab10bd56c9f0","type":"function","z":"a1fe2bca858cab9e","name":"Insert","func":"msg.topic=\"INSERT INTO Profile (tag, temp, light) \"\n            + \"VALUES (\" + msg.payload.Tag + \", \" + msg.payload.Temp + \", \"\n            + msg.payload.Light + \")\";\n// msg.payload=[msg.payload.Tag, msg.payload.Temp, msg.payload.Light];\nreturn msg;\n\n\n\n// msg.topic = \"INSERT INTO `Profile` (`tag`, `temp`, `light`) VALUES(\" + msg.Tag + \", \" + msg.Temp + \", \" + msg.Light + \")\";\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1340,"wires":[["783e7972773fee8c"]]},{"id":"1f164ce86440e5e9","type":"function","z":"a1fe2bca858cab9e","name":"Search","func":"msg.topic=\"SELECT * FROM Profile \"\n            + \"WHERE tag = \" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1380,"wires":[["783e7972773fee8c"]]},{"id":"783e7972773fee8c","type":"sqlite","z":"a1fe2bca858cab9e","mydb":"4c078836c07fdb72","sqlquery":"msg.topic","sql":"","name":"","x":490,"y":1320,"wires":[["644d0c659540c17d","ea605c6e409a2e5b","d83d475432f323f4","be1622010fce2090","08453e3628d6cd35"]]},{"id":"644d0c659540c17d","type":"mqtt out","z":"a1fe2bca858cab9e","name":"Preferences","topic":"RFID/Response","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"542b6e11527be618","x":670,"y":1280,"wires":[]},{"id":"d83d475432f323f4","type":"debug","z":"a1fe2bca858cab9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1240,"wires":[]},{"id":"1fd8f3ea3c2fe86a","type":"inject","z":"a1fe2bca858cab9e","name":"Drop table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP table profile","payloadType":"date","x":280,"y":1260,"wires":[["783e7972773fee8c"]]},{"id":"1ef252e696faba95","type":"inject","z":"a1fe2bca858cab9e","name":"Create db table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE Profile( tag NUMERIC PRIMARY KEY NOT NULL, temp NUMERIC NOT NULL, light NUMERIC NOT NULL)","payloadType":"date","x":260,"y":1300,"wires":[["783e7972773fee8c"]]},{"id":"aff8f5553b66a2ec","type":"debug","z":"a1fe2bca858cab9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":660,"wires":[]},{"id":"9c91ea97c55dc42d","type":"debug","z":"a1fe2bca858cab9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":720,"wires":[]},{"id":"0c4f762ca30eee84","type":"mqtt in","z":"a1fe2bca858cab9e","name":"Inject send email","topic":"room/send","qos":"2","datatype":"auto","broker":"dcac3d57c14770fe","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":540,"wires":[["604fcba5b27d2055"]]},{"id":"da4673d18ffe97dc","type":"e-mail","z":"a1fe2bca858cab9e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"UnixLabTeam@gmail.com","dname":"","x":880,"y":1340,"wires":[]},{"id":"ea605c6e409a2e5b","type":"function","z":"a1fe2bca858cab9e","name":"","func":"if (!(msg.payload).includes(\"Undefined\") || !(msg.payload).includes(\"undefined\")){\n    var d = new Date();\n    d.getHours();\n    d.getMinutes();\n    d.getSeconds();\n    text = msg.payload[0].tag + \" was here \" + d;\n    msg.payload = text;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1340,"wires":[["da4673d18ffe97dc","286cf5c13f1f8214"]]},{"id":"286cf5c13f1f8214","type":"debug","z":"a1fe2bca858cab9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1400,"wires":[]},{"id":"be1622010fce2090","type":"function","z":"a1fe2bca858cab9e","name":"TempFunction","func":"if (!(msg.payload).includes(\"Undefined\") || !(msg.payload).includes(\"undefined\")){\n    text = msg.payload[0].temp;\n    msg.payload = text;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1460,"wires":[["2d011cfdf36ffc41"]]},{"id":"08453e3628d6cd35","type":"function","z":"a1fe2bca858cab9e","name":"LightFunction","func":"if (!(msg.payload).includes(\"Undefined\") || !(msg.payload).includes(\"undefined\")){\n    text = msg.payload[0].light;\n    msg.payload = text;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1520,"wires":[["7e5315bda6745967"]]},{"id":"f2e95b589b9e3534","type":"ui_button","z":"a1fe2bca858cab9e","name":"","group":"1ae9c6abc42ad2ee","order":1,"width":0,"height":0,"passthru":false,"label":"Scan Bluetooth","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"payload","topicType":"msg","x":220,"y":840,"wires":[["54a74a2f6ea8cb0b"]]},{"id":"54a74a2f6ea8cb0b","type":"exec","z":"a1fe2bca858cab9e","command":"sudo /usr/bin/python3 /home/pi/Desktop/bluetoothTest.py ","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":840,"wires":[["dba1b1a85276e86d","e15501937f5dd69e"],[],[]]},{"id":"dba1b1a85276e86d","type":"function","z":"a1fe2bca858cab9e","name":"","func":"var deviceString = msg.payload;\nconst myArray = deviceString.split(\".\");\nvar text = myArray.length - 1 + \" devices found\\n\\n\";\n\nif (myArray.length - 1 > 10) {\n    for (var i = 0; i < 10;i++) {\n        text += myArray[i] + \"\\n\";\n    }\n} else if (myArray.length - 1 <= 10) {\n    for (var k = 0; k < myArray.length - 1;k++) {\n        text += myArray[k] + \"\\n\";\n    }\n}\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":840,"wires":[["e5d707a3606d5324","a7ea262bb5e22f4b"]]},{"id":"e5d707a3606d5324","type":"ui_text","z":"a1fe2bca858cab9e","group":"1ae9c6abc42ad2ee","order":2,"width":"6","height":"4","name":"","label":"Bluetooth Devices","format":"{{msg.payload}}","layout":"col-center","className":"","x":1110,"y":800,"wires":[]},{"id":"454c263bbe2bedee","type":"exec","z":"a1fe2bca858cab9e","command":"sudo /usr/bin/python3 /home/pi/Desktop/bluetoothArg.py ","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":550,"y":960,"wires":[["a67ed66f854cc3d5","63b4a4deb002cb08"],[],[]]},{"id":"b98d6e490cfaad68","type":"ui_numeric","z":"a1fe2bca858cab9e","name":"","label":"numeric","tooltip":"","group":"0e7f4e13c2826ecd","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-100","max":"0","step":"-10","className":"","x":200,"y":960,"wires":[["454c263bbe2bedee"]]},{"id":"a67ed66f854cc3d5","type":"debug","z":"a1fe2bca858cab9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":1000,"wires":[]},{"id":"6348ad9572a991c2","type":"ui_text","z":"a1fe2bca858cab9e","group":"0e7f4e13c2826ecd","order":3,"width":"6","height":"12","name":"","label":"Bluetooth Under Specified RSSI","format":"{{msg.payload}}","layout":"col-center","className":"","x":1090,"y":940,"wires":[]},{"id":"d71e58b773cf98dd","type":"inject","z":"a1fe2bca858cab9e","name":"Clear Bluetooth","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":680,"y":800,"wires":[["e5d707a3606d5324"]]},{"id":"a7ea262bb5e22f4b","type":"debug","z":"a1fe2bca858cab9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":880,"wires":[]},{"id":"292b6bd2b91e4634","type":"inject","z":"a1fe2bca858cab9e","name":"Clear Bluetooth","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":680,"y":920,"wires":[["6348ad9572a991c2"]]},{"id":"7e5315bda6745967","type":"ui_numeric","z":"a1fe2bca858cab9e","name":"Light Threshold","label":"Light Threshold","tooltip":"","group":"239836f6916ee5bb","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"payload","topicType":"msg","format":"{{value}}","min":"0","max":"5","step":"0.5","className":"","x":900,"y":1520,"wires":[["06290e6e947e97a4"]]},{"id":"06290e6e947e97a4","type":"mqtt out","z":"a1fe2bca858cab9e","name":"LThreshold","topic":"room/light","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a05617aaa96d6fda","x":1170,"y":1520,"wires":[]},{"id":"63b4a4deb002cb08","type":"function","z":"a1fe2bca858cab9e","name":"","func":"var deviceString = msg.payload;\nconst myArray = deviceString.split(\".\");\nvar text = myArray.length - 1 + \" devices found\\n\\n\";\n\nif (myArray.length - 1 > 10) {\n    for (var i = 0; i < 10;i++) {\n        text += myArray[i] + \"\\n\";\n    }\n} else if (myArray.length - 1 <= 10) {\n    for (var k = 0; k < myArray.length - 1;k++) {\n        text += myArray[k] + \"\\n\";\n    }\n}\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":940,"wires":[["6348ad9572a991c2"]]},{"id":"e15501937f5dd69e","type":"debug","z":"a1fe2bca858cab9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":1100,"wires":[]},{"id":"be0f17d17de20d3d","type":"ui_group","name":"LED","tab":"556405f5b6a185c8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5195956d.4d19ac","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"239836f6916ee5bb","type":"ui_group","name":"Threshold","tab":"556405f5b6a185c8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a05617aaa96d6fda","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"04827c5637c2f5b3","type":"ui_group","name":"Create Account","tab":"affba97a2a6ccdb2","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"542b6e11527be618","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4c078836c07fdb72","type":"sqlitedb","db":"/tmp/sqlite","mode":"RWC"},{"id":"dcac3d57c14770fe","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1ae9c6abc42ad2ee","type":"ui_group","name":"Bluetooth","tab":"556405f5b6a185c8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0e7f4e13c2826ecd","type":"ui_group","name":"BluetoothRSSI","tab":"556405f5b6a185c8","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"556405f5b6a185c8","type":"ui_tab","name":"Room","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"affba97a2a6ccdb2","type":"ui_tab","name":"Profile","icon":"dashboard","disabled":false,"hidden":false}]